USE [master]
GO
/****** Object:  Database [HastaProje]    Script Date: 5.09.2025 15:59:34 ******/
CREATE DATABASE [HastaProje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HastaProje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HastaProje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HastaProje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HastaProje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HastaProje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HastaProje]
GO
/****** Object:  Table [dbo].[Tbl_Brans]    Script Date: 5.09.2025 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Brans](
	[bransId] [tinyint] IDENTITY(1,1) NOT NULL,
	[bransAd] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Doktor]    Script Date: 5.09.2025 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Doktor](
	[doktorId] [tinyint] IDENTITY(1,1) NOT NULL,
	[doktorAd] [varchar](10) NULL,
	[doktorSoyad] [varchar](10) NULL,
	[doktorBrans] [varchar](30) NULL,
	[doktorTc] [char](11) NULL,
	[doktorSifre] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Duyurular]    Script Date: 5.09.2025 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Duyurular](
	[duyuruId] [smallint] IDENTITY(1,1) NOT NULL,
	[duyuru] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Hasta]    Script Date: 5.09.2025 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Hasta](
	[hastaId] [smallint] IDENTITY(1,1) NOT NULL,
	[hastaAd] [varchar](10) NULL,
	[hastaSoyad] [varchar](10) NULL,
	[hastaTc] [char](11) NULL,
	[hastaTelefon] [varchar](15) NULL,
	[hastaSifre] [varchar](10) NULL,
	[hastaCinsiyet] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Randevular]    Script Date: 5.09.2025 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Randevular](
	[randevuId] [int] IDENTITY(1,1) NOT NULL,
	[randevuTarih] [varchar](10) NULL,
	[randevuSaat] [varchar](5) NULL,
	[randevuBrans] [varchar](30) NULL,
	[randevuDoktor] [varchar](20) NULL,
	[randevuDurum] [bit] NULL,
	[hastaTc] [char](11) NULL,
	[hastaSikayet] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sekreter]    Script Date: 5.09.2025 15:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sekreter](
	[sekreterId] [tinyint] IDENTITY(1,1) NOT NULL,
	[sekreterAdSoyad] [varchar](20) NULL,
	[sekreterTc] [char](11) NULL,
	[sekreterSifre] [varchar](10) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Randevular] ADD  CONSTRAINT [DF_Tbl_Randevular_randevuDurum]  DEFAULT ((0)) FOR [randevuDurum]
GO
USE [master]
GO
